@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background: #161513;
  color: white;
  font-family: outfit;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-r from-purple-400 to-pink-600;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .text-gradient2 {
    @apply bg-gradient-to-r from-purple-600 to-pink-800;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}